
<div ng-app ng-controller="Cntl2"  >

      <p > Logged in as <b> {{ userlogged1 }} </b>  </p>
    

      <ul  class="unstyled" > <b>Votes for the month of {{  month1 }}</b>
 <li ng-repeat="jsonVotesMonth in jsonVotesMonth" style="padding-left:20px;">
<img src=" {{jsonVotesMonth.pic }}" /> {{ jsonVotesMonth.name}} <b style="font-size:14pt; color: red; padding-left:5px;"> {{jsonVotesMonth.vote}} </b></li>
</ul>

---------------------------------

<ul  class="unstyled" ><b> Votes in the all year:</b>
 <li ng-repeat="newJson in newJson" style="padding-left:20px;">
<img src=" {{newJson.pic }}" /> {{ newJson.name}} <b style="font-size:14pt; color: red; padding-left:5px;"> {{newJson.vote}} </b> </li>
</ul>


--------------------------------- <br/>


<b>VOTES DETAILS:</b>






<ul class="unstyled">

      <li ng-repeat="votemonths in votemonths |  orderBy:'date':true"  class="votes">



<div class="nameimg" style="float:left"> <img align="center" src=" {{ votemonths.picfrom }}" /><p class="names">{{votemonths.from}}</p> </div>
<div style="position:absolute"><img src="img/arrow.png" width='40' style="margin-left:80px"  /></div>
 <div class="nameimg" style="float:right"> <img align="center" src=" {{ votemonths.picto }}" />  <br/> <p class="names">  {{votemonths.to }}</p> </div>

<p style="clear:both" ><a href="#"   class="more" >More dettails</a></p>
 <div class ="motivation" style="clear:both; margin-top: -40px"><p style="line-height: 185%; margin-top: 21px;"> {{votemonths.motivation }}</p>
  <p align="right">{{votemonths.date }}</p>  </div>
     
      </li>
    </ul>

    		users:
    



        <form ng-submit="Delete_user(name)" name="delete" novalidate id="form2" >
           <select  id="userslist" ng-model="name" >


               <option ng-repeat="user in users"  id="{{ user.name }}" value=" {{ user.name }}">{{ user.name }}   </option>
           
            </select>

      <input id="delete1" type="submit" value="Delete"  >
    </form>

</div>

<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".motivation").hide();
        $(".show_hide").show();
 
  


 
});
   $(document).on("click", ".more", function(){
$(this).parent().next().slideToggle();
return false;
});

</script>

